<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 命名空间 -->
	<typeAliases>
		<!-- admin -->
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.fcuh.data.common.mybatis.pageinterceptor.OffsetLimitInterceptor">
			<property name="dialectClass" value="com.fcuh.data.common.mybatis.pageinterceptor.dialect.MySQLDialect" />
		</plugin>
	</plugins>
	
</configuration>